{% extends 'layout.html' %}

{% block title %}
EDA
{% endblock %}


{% block content %}
<p>The distribution of job growth in both years is roughly gaussian, with a mean hovering around 0. </p>
<img src="static/images/job_growth_distplot.png" alt="job_growth">

<p>For both recessions, the entire US took about 18months (6 quarters) to start adding net jobs. Which gives us an overall decline time of 6.</p>
<img src="static/images/2001_timeline.png" alt="2001_timeline">
<img src="static/images/2008_timeline.png" alt="2008_timeline">

<p>But decline is quite varied over individual areas of the US, indicating important factors are to be discovered.</p>

<img src="static/images/decline_time_distrbutions.png" alt="decline">





{% endblock %}