{% extends 'layout.html' %}

{% block title %}
Models
{% endblock %}
{% block content %}
<h2>Models Progress</h2>

<p>Last time I only tested four different types of models, (Logistic Regression, Decision Tree, Random Forest, and Gradient Boost). I had a goal to get my f1 score as high as possible. So I added XGBoost, SVG, and KNN to the mix.
</p>

<img src="static/images/models.png" alt="dumb_models">

<p>Just like last time, the Random Forest model performed the best, returning the best f1 score. I took several days of tuning to attempt to get it as high as possible, but I was only able to get it up to 0.709 to 0.719. There is likely little improvment to be found with this feature set.
</p>

<img src="static/images/cf_matrix.png" alt="cf_matrix">



{% endblock %}