{% extends 'layout.html' %}
{% block title %}
    Overview of Project
{% endblock %}


{% block content %}
    <h1>Project Overview</h1>
    <p>The U.S. in the 21st century is not particularly adept at recovering from reccesions, and another one is upon us. This recession is likely to be deeper and longer than the last. Traditional measures of economic health (unemployment, GDP, stock market) are all too aggregated to be of much use for most Americans. Overall rise and/or fall does nothing for the outlook of a particular town or city. With this project I intend to break down economic data from the Bureau of Labor Statistics, and use the data to model and predict economic recovery. Specifically, I intend to answer:</p>
    <ol>
        1. Which areas (counties, states, cities) are likliest to recover from this recession, before the *next* recession.
        2. How long will each area be in decline, before it begins to recover?
    </ol>
    <img src="static/images/ScariestJan2017.PNG" alt="plot_2001">
    <h2>Previous Research</h2>
    <p>Most data science being applied to this type of problem are attempting to predict *when* a recession might occur (https://towardsdatascience.com/recession-prediction-using-machine-learning-de6eee16ca94,https://economics.rabobank.com/publications/2019/january/united-states-the-recession-of-2020/), but they often rely on indices of long-term economic performance. They also do not differentiate performance in different *sectors* of the economy, so the definition of a recovery can mean little to workers employed in sectors that falter. Some attempts to use sampled data have been successful (http://www.sundsoy.com/publications/tow.pdf), but would not provide the granularity I am looking for to narrow down recovery in specific areas. </p>
    <h2>New Additions</h2>
    <p>This is not the first time I have worked with this data, attempting to solve this problem. However, the previous attempt hit several snags along the way. I attempted to augment the dataset with political and fiscal features, but thatrrequired me to cull nearly half the data as it wasn't available for most cities. The model did not show much feature importance for any of the politcal variables. THe cities have been added back in, as have Puerto Rico and the U.S. Virgin Islands.</p>
    <h3>Goals</h3>
    <p>As before, I intend to model the economic performance of each area within the United States, using data from the 2001 and 2008 recessions. I have some addtional goals to bring the project further.</p>
    <ul>
        <li>Deploy a Flask app which will allow the user to view a "report card" on any particular area included in the dataset</li>
        <li> Add additional model types to the pipeling</li>
        <li> Use feature importance to speak to what industries are the best indicators of recovery.</li>
        <li> Get f1 score of final model above 0.85</li>
        <li> Explore using a Neural Network to predict the data.</li>
    </ul>


{% endblock %}
