{% extends 'layout.html' %}

{% block title %}
EDA
{% endblock %}


{% block content %}
<p>The distribution of job growth in both years is roughly gaussian, with a mean hovering around 0. </p>
<img src="static/images/job_growth_distplot.png" alt="job_growth">

<p>For both recessions, the entire US took about 18 months (6 quarters) to start adding net jobs. Which gives us an overall decline time of 6.</p>
<img src="static/images/2001_timeline.png" alt="2001_timeline">
<img src="static/images/2008_timeline.png" alt="2008_timeline">

<p>Statewide performance in the 2001 recession is clustered around zero. As shown in the gif below, none of the states seem to have dramatic changes in job growth over the period of the frecession. It *is* worrying that despite population increase, job growth is centered at 0, which shows an overall drop in job numbers, but that concern is beyond the scope of this project. 
    
County-level results show much more variance in economic performance, however. This reinforces my earlier point that aggregating economic data hides crucial context.</p>

<img src="static/images/2001.gif" alt="2001_map">

<p>2008 reiterates my point, though it does show the difference in scale between 2001 and 2008.</p>

<img src="static/images/2008.gif" alt="2008_map">



{% endblock %}